header {
    background-color: dodgerblue;
}

body {
    background-color: dodgerblue;
    color: white;
}

.article {
    background-color: skyblue;
    color: white;
    display: inline-block;
    width: 200px;
    height: 150px;
    margin: 10px;
    vertical-align: middle;
    text-align: center;
    line-height: 150px;
}

.centered_header {
    text-align: center;
}

.timer_bar {
    background-color: orange;
    height: 100px;
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px
}
